@model RepairMan.StoreManagement.Application.Contract.Dto.Repairs.RepairCreateDto
@{
    ViewBag.Title = "ثبت هزینه";
}
<div class="repair-create">
    <div class="box">
        <div class="box-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#RepairTab">اطلاعات تعمیر</a></li>

                <li class="tab-partsUsed"><a id="tabPartsUsed" data-toggle="tab" href="#PartsUsedTab">قطعات استفاده شده</a></li>

            </ul>
            <br />
            <div class="tab-content">

                <div id="RepairTab" class="tab-pane fade in active">
                    <form autocomplete="off" action="@Url.Action("Create","Repair")">

                        <input id="Id" hidden  />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Brand" class="form-label"></label><b class="text-danger">*</b>
                                    <input type="text" class="form-control" asp-for="Brand">
                                    <span class="field-validation-valid text-danger" asp-validation-for="Brand"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Model" class="form-label"></label><b class="text-danger">*</b>
                                    <input type="text" class="form-control" asp-for="Model">
                                    <span class="field-validation-valid text-danger" asp-validation-for="Model"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="RepairCost" class="form-label"></label><b class="text-danger">*</b>
                                    <input type="text" class="form-control repairPrice" asp-for="RepairCost">
                                    <span class="field-validation-valid text-danger" asp-validation-for="RepairCost"></span>
                                    <span class="text-info repairCostValue"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="StoreShareCost" class="form-label"></label><b class="text-danger">*</b>
                                    <input type="text" class="form-control" asp-for="StoreShareCost">
                                    <span class="field-validation-valid text-danger" asp-validation-for="StoreShareCost"></span>
                                    <span class="text-info storeCostValue"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="TotalCost" class="form-label"></label><b class="text-danger"></b>
                                    <input type="text" class="form-control" readonly asp-for="TotalCost">
                                    <span class="field-validation-valid text-danger" asp-validation-for="TotalCost"></span>
                                    <span class="text-info totalCostValue"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="RepairDateLocal" class="form-label"></label><b class="text-danger">*</b>
                                    <input type="text" class="form-control shamsi" asp-for="RepairDateLocal">
                                    <span class="field-validation-valid text-danger" asp-validation-for="RepairDateLocal"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Description" class="form-label"></label><b class="text-danger"></b>
                                    <textarea asp-for="Description" class="form-control ckeditor"></textarea>
                                    <span class="field-validation-valid text-danger" asp-validation-for="Description"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="PartsUsedTab" class="tab-pane fade">
                    @await Component.InvokeAsync("PartsUsedComponent")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.partsUsedToggleTab();
</script>